.signForm {
  padding: 30px 25px;
  border-radius: 7px;
  width: 300px;
  .signButton {
    margin-top: 15px;
  }
  .signInput {
    margin: 10px 0;
  }
  .pageTitle{
    font-weight: 300;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
